

{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/Login/style.css' %}">
	<title>Login</title>
</head>
<body>
	{% include "messages.html" %}


	<div class="square">
		<i style="--clr:#540169;"></i>
		<i style="--clr:#1845ad;"></i>
		<i style="--clr:#23a2f6;"></i>
		<div class="login">
			<h2>پسورد برایتان ارسال شد</h2>

			<div class="links">
				<a href="{% url 'login1' %}">ورود</a>
		 
			
			</div>
		</div>
	</div>
</body>
</html>



